<div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/angular2-logo.png">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        DnD project
      </a>
    </div>
      <ul class="nav">
        <li><a routerLink="/dashboard"><i class="nc-icon nc-diamond"></i>Dashboard</a></li>
        <li><a routerLink="/users"><i class="nc-icon nc-diamond"></i>Users</a></li>
        <li><a routerLink="/heroes"><i class="nc-icon nc-diamond"></i>Heroes</a></li>
        <li><a routerLink="/roles"><i class="nc-icon nc-diamond"></i>Roles</a></li>
        <li><a routerLink="/troops"><i class="nc-icon nc-diamond"></i>Troops</a></li>
      </ul>
  </div>
  