<p>dashboard works!</p>
<h3>Test response:</h3>
<h3>{{test}}</h3>
<br>
<h3>{{userName}}</h3>

<div *ngIf="loggedIn == false">
  <h1>Test register form</h1>
    <form (ngSubmit)="register()">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" name="username" type="text" placeholder="Text input" id="userName" required [(ngModel)]="userCreateDTO.userName" >
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password" placeholder="" id="password" required [(ngModel)]="userCreateDTO.password" >
        </div>
      </div>
      <div class="field">
        <label class="label">Admin</label>
        <div class="control">
          <div class="select">
            <select required [(ngModel)]="userCreateDTO.isAdmin" name="admin">
              <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
