<div>
  <div class="content">
    <p class="title">Troops</p>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mission</th>
        <th>Gold</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let troop of troops">
        <td>{{troop.id}}</td>
        <td>{{troop.name}}</td>
        <td>{{troop.mission}}</td>
        <td>{{troop.gold}}</td>
        <td><a class="button is-danger" (click)="deleteTroop(troop.id)">
                        <span class="icon is-small">
                          <i class="fas fa-trash"></i>
                        </span>
          <span>Disband troop</span>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <a class="button" (click)="modalPopUp('create')">
                      <span class="icon is-small">
                        <i class="fas fa-edit"></i>
                      </span>
          <span>Create new troop</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div [class.is-active]="showModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <div *ngIf="mode == 'create'">
          <!-- create new troop -->
          <p class="title is-5">
            Create new role
          </p>
          <form (ngSubmit)="createTroop()">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" name="name" type="text" placeholder="Text input" id="name" required [(ngModel)]="troopCreateDTO.name" >
              </div>
            </div>
            <div class="field">
              <label class="label">Mission</label>
              <div class="control">
                <input class="input" name="mission" type="text" placeholder="Text input" id="mission" required [(ngModel)]="troopCreateDTO.mission" >
              </div>
            </div>
            <div class="field">
              <label class="label">Mission</label>
              <div class="control">
                <input class="input" name="gold" type="number" placeholder="Numeric input" id="gold" required [(ngModel)]="troopCreateDTO.gold" >
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <button type="submit" class="button is-success">Create</button>
                </div>
                <div class="level-item">
                  <button class="button" (click)="showModal=!showModal">Back</button>
                </div>
              </div>
            </nav>
          </form>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" (click)="showModal=!showModal"></button>
    </div>
  </div>
</div>
