<div>
  <div class="content">
    <p class="title">Troops</p>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mission</th>
        <th>Gold</th>
        <th>Heroes</th>
        <th>Update troop</th>
        <th>Disband troop</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let troop of troops">
        <td>{{troop.id}}</td>
        <td>{{troop.name}}</td>
        <td>{{troop.mission}}</td>
        <td>{{troop.gold}}</td>
        <td><a (click)="showHeroModal(troop.id)" class="button is-success">
                    <span class="icon is-small">
                       <i class="fas fa-eye"></i>
                    </span>
          <span>Show Heroes</span>
        </a></td>

        <div [class.is-active]="showShowHeroModal" class="modal">
          <div (click)="closeShowHeroModal()" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Show Heroes</p>
              <button (click)="closeShowHeroModal()" class="delete" aria-label="close"></button>
            </header>
            <section *ngIf="clickedTroop" class="modal-card-body">
              <div class="content">
                <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Level</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let hero of clickedTroop.heroes">
                    <td>{{hero.id}}</td>
                    <td>{{hero.name}}</td>
                    <td>{{hero.level}}</td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </section>
            <footer class="modal-card-foot">
              <button (click)="closeShowHeroModal()" class="button">Close</button>
            </footer>
          </div>
        </div>


        <td><a class="button is-success" (click)="modalPopUpUpdate(troop.id, troop.name, troop.mission, troop.gold)">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
          <span>Update</span>
        </a></td>

        <td><a class="button is-danger" (click)="deleteTroop(troop.id)">
                        <span class="icon is-small">
                          <i class="fas fa-trash"></i>
                        </span>
          <span>Disband</span>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <a class="button" (click)="modalPopUp('create')">
                      <span class="icon is-small">
                        <i class="fas fa-edit"></i>
                      </span>
          <span>Create new troop</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div [class.is-active]="showModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <div *ngIf="mode == 'create'">
          <!-- create new troop -->
          <p class="title is-5">
            Create new troop
          </p>
          <form (ngSubmit)="createTroop()">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" name="name" type="text" placeholder="Text input" id="name" required [(ngModel)]="troopCreateDTO.name" >
              </div>
            </div>
            <div class="field">
              <label class="label">Mission</label>
              <div class="control">
                <input class="input" name="mission" type="text" placeholder="Text input" id="mission" required [(ngModel)]="troopCreateDTO.mission" >
              </div>
            </div>
            <div class="field">
              <label class="label">Gold</label>
              <div class="control">
                <input class="input" name="gold" type="number" placeholder="Numeric input" id="gold" required [(ngModel)]="troopCreateDTO.gold" >
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <button type="submit" class="button is-success">Create</button>
                </div>
                <div class="level-item">
                  <button class="button" (click)="showModal=!showModal">Back</button>
                </div>
              </div>
            </nav>
          </form>
        </div>
        <div *ngIf="mode == 'update'">
          <!-- update troop -->
          <p class="title is-5">
            Update troop
          </p>
          <form (ngSubmit)="updateTroop()">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" name="name" type="text" id="update-name" required [(ngModel)]="troopUpdateDTO.name" >
              </div>
            </div>
            <div class="field">
              <label class="label">Mission</label>
              <div class="control">
                <input class="input" name="mission" type="text" id="update-mission" required [(ngModel)]="troopUpdateDTO.mission" >
              </div>
            </div>
            <div class="field">
              <label class="label">Gold</label>
              <div class="control">
                <input class="input" name="gold" type="text" id="update-gold" required [(ngModel)]="troopUpdateDTO.gold" >
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <button type="submit" class="button is-success">Update</button>
                </div>
                <div class="level-item">
                  <button class="button" (click)="showModal=!showModal">Back</button>
                </div>
              </div>
            </nav>
          </form>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" (click)="showModal=!showModal"></button>
    </div>
  </div>
</div>
