<p>dashboard works!</p>
<h3>Test response:</h3>
<h3>{{test}}</h3>
<h3>{{userName}}</h3>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          DnD project
        </h1>
        <h2 class="subtitle">
          PA165
        </h2>
      </div>
    </div>
  </section>
<div *ngIf="loggedIn == false">
  <div class="container">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <a class="button" (click)="modalPopUp('login')">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
            <span>Login</span>
          </a>
        </div>
        <div class="level-item">
          <a class="button" (click)="modalPopUp('register')">
                        <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                        </span>
            <span>Register</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div [class.is-active]="showModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <!-- register -->
        <div *ngIf="mode == 'register'">
          <p class="title is-5">
            Register
          </p>
          <form (ngSubmit)="register()">
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" name="username" type="text" placeholder="Text input" id="userName" required [(ngModel)]="userCreateDTO.userName" >
                <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" name="password" type="password" placeholder="****" id="password" required [(ngModel)]="userCreateDTO.password" >
              </div>
            </div>
            <div class="field">
              <label class="label">Admin</label>
              <div class="control">
                <div class="select">
                  <select required [(ngModel)]="userCreateDTO.isAdmin" name="admin">
                    <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>
                  </select>
                </div>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <button type="submit" class="button is-success">Register</button>
                </div>
                <div class="level-item">
                  <button class="button" (click)="showModal=!showModal">Back</button>
                </div>
              </div>
            </nav>
          </form>
    </div>
        <!-- login -->
        <div *ngIf="mode == 'login'">
          <p class="title is-5">
            Login
          </p>
          <form (ngSubmit)="login()">
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" name="username" type="text" placeholder="Text input" id="userName1" required [(ngModel)]="userCreateDTO.userName" >
                <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
          </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" name="password" type="password" placeholder="****" id="password1" required [(ngModel)]="userCreateDTO.password" >
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <button type="submit" class="button is-success">Login</button>
                </div>
                <div class="level-item">
                  <button class="button" (click)="showModal=!showModal">Back</button>
                </div>
              </div>
            </nav>
          </form>
        </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showModal=!showModal"></button>
</div>
