<nav class="navbar has-shadow is-light container-fluid">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/dashboard">
      D&D
    </a>

    <div class="navbar-burger" (click)="showNav=!showNav">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>


    <div [class.is-active]="showNav" class="navbar-menu">

      <div class="navbar-end">
        <div *ngIf="currUser.id != null">
          <div [class.is-active]="showNav" class="navbar-item has-dropdown">
            <a class="navbar-link" (click)="showNav=!showNav">
              <i class="fas fa-user mr-03"></i>
              <span>{{currUser.userName}}</span>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" (click)="logOut()">
                <i class="fas fa-sign-out-alt mr-03"></i>
                <span>Log out</span>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>
