<nav class="navbar has-shadow is-light">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/dashboard">
      D&D
    </a>

    <div class="navbar-burger" (click)="showNav=!showNav">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

  <div [class.is-active]="showNav" class="navbar-menu">
    <div class="navbar-end">

      <div [class.is-active]="showNav" class="navbar-item has-dropdown">
        <a class="navbar-link" (click)="showNav=!showNav">
          Account
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="logOut()">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
